<template>
  <div class="about">
    <Filmotheque/>
  </div>
</template>
<script>
import Filmotheque from '@/components/Filmotheque.vue'

export default {
name: 'listeFilm',
components: {
Filmotheque
}
}
</script>