<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/film.jpg">
    <Films msg="Welcome to Your Vue.js App"/>
  </div>

</template>

<script>
// @ is an alias to /src
import Films from '@/components/Films.vue'

export default {
  name: 'home',
  components: {
    Films
  }
}
</script>
