<template>
    <div class="home">
        <rechercherfilm />
    </div>
</template>

<script>
    import rechercherfilm from "@/components/rechercherfilm.vue";
    export default {
        name: "rechercher",
        components: {rechercherfilm}
    }
</script>

<style scoped>

</style>