<template>

    <div class="Films">

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Image</th>
                    <th scope="col">Note</th>
                    <th scope="col">synopsis</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tr v-for="(film) in movies">
                <td>
                    {{film.title}}
                </td>
                <td>
                    <img width="250" height="350" :src=film.image />
                </td>
                <td>
                    {{film.vote_average}}
                </td>
                <td>
                    {{film.overview}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" v-on:click="goTodetail(film.id)">afficher détails</button>
                </td>

            </tr>

        </table>

    </div>
</template>

<script>
    import axios from 'axios'
    import Film from "@/model/Film.js"

    export default {
        name: 'Films',

        props: {
            msg: String
        },
        data() {
            return {
                query: '',
                api: '79f4cf54cc0396bfe9afeec97dd94234',
                movies: [],
                movie: new Film({title: "waiting..."}),
                myMovies: [],
            }
        },
        mounted() {

            axios.get(`https://api.themoviedb.org/3/movie/popular?api_key=${this.api}&language=en-US&page=1`)
                .then((response) => {
                    for(var i=0;i<20;i++){
                        this.movie = new Film(response.data.results[i])
                        this.movies.push(this.movie)
                    }

                })
        },
        methods:{
            goTodetail(idFilm) {
                this.$router.push({ name: "details", params: { idFilm: idFilm } });
            }
        }

    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
