<template>
    <div class="accueil">
        <p>test</p>
        <form @submit.prevent="">
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Rechercher</span>
                </div>
                <input  style="width: 500px" type="text" v-on:keyup="submit" name="nom" class="form-control" v-model="nom" placeholder="Tapez votre film" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Image</th>
            <th scope="col">Note</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tr v-for="(film) in movies">
            <td>
                {{film.title}}
            </td>
            <td>
                <img width="250" height="350" :src=film.image />
            </td>
            <td>
                {{film.vote_average}}
            </td>
            <td>
                {{film.overview}}
            </td>
            <td>
                <button type="button" class="btn btn-primary" v-on:click="goTodetail(film.id)">afficher détails</button>
            </td>
        </tr>

    </table>
    </div>
</template>

<script>
import  axios from "axios"
import Film from "@/model/Film.js"
    export default {
    data() {
        return{
            nom:"",
            movie: new Film({title: "waiting..."}),
            movies: [],
            api: '79f4cf54cc0396bfe9afeec97dd94234',


        };
    },
        methods:{
            submit() {
                if (isNaN(this.nom)) {
                    axios
                        .get(
                            `https://api.themoviedb.org/3/search/movie?api_key=${this.api}&language=en-US&query=${
                                this.nom
                                }`
                        ).then(response => {
                        this.movies = [];
                        if (response.data.page != 0) {

                            for (let element of response.data.results) {

                                //this.translate(element.id);
                                this.movie = new Film(element)
                                this.movies.push(this.movie)

                            }
                            }
                        })
                }
            },
            goTodetail(idFilm) {
                this.$router.push({ name: "details", params: { idFilm: idFilm } });
            },
        },

        name: "rechercherfilm"
    }
</script>

<style scoped>

</style>